* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font-style: inherit;
}
body {
  background: linear-gradient(to bottom,hsl(273, 75%, 66%),hsl(240, 73%, 65%)) no-repeat center center fixed;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  
}

.content{
  margin:7% auto;
  background-color: white;
  max-width: 920px;
  border-radius: 22px;
  max-height: 510px;
  
}
.wrapper{
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
}

h1{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: -7px;
}
ul{
  margin-right: 95px;
}
li{
  list-style-type: none;
  padding-bottom: 17px;
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: hsl(240, 5%, 91%);
}
.images{
  display: inline-block;
  margin-left: -85px;

}
.bg-img{
  width: 100%;
  margin-top: -447px;
  margin-left: -87px;
}